<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="S.BanHang.Properties.Settings.S_BaoGiaConnectionString"
            connectionString="Data Source=CONGHAUDELL\SQLEXPRESS;Initial Catalog=S.BaoGia;Persist Security Info=True;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>